.general-info {
    width: 60%;
    height: fit-content;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.grid input {
    width: 80%;
        
}

.grid input:focus {
    outline: none;
    border-color: var(--inputFocused);
}