.experience-header {
    padding: 0 10px 0 15px;
    width: 100%;
    overflow-wrap: break-word;
    text-align: justify;
}

.experience-header h2 {
    width: 100%;
    border-bottom: 2px solid var(--underlineHeaders);
    font-size: 1.5rem;
    margin-bottom: 5px;
}

p.year {
    position: absolute;
    top: 0;
    left: 80%;
}

p.role, p.degree {
    margin: 0 0 7px 0;
}

.experience-body {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 3rem;
    overflow-wrap: break-word;
}