.input-button {    
    height: 30px;
    width: 20%;
    transition: background-color ease-in 200ms;
    background-color: color-mix(in srgb, var(--sectionColor) 100%, red 5%);
    border: 2px solid;
    border-color: color-mix(in srgb, var(--sectionColor) 40%, red 60%);
    box-shadow: none;
}

.input-button:hover {
   background-color: color-mix(in srgb, var(--sectionColor) 40%, red 60%);
}