.input-button {
    height: 30px;
    width: 20%;
    transition: background-color ease-in 200ms;
    background-color: color-mix(in srgb, var(--sectionColor) 90%, red 10%);
}

.input-button:hover {
   background-color: color-mix(in srgb, var(--sectionColor) 40%, red 60%);
}